body{
  margin: 0px;
  padding: 0px;
  
  color: #000000;
  text-align: center;
 
  height: 100vh;
}
h1{
  font-size: 45px;
}

input{
  width: 75px;
  height: 50px;
  font-size: 45px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(154, 199, 207);
  color: black;
  border-style: none;

}

