@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  padding:0;
  margin: 0;
}
body{
  font-family: 'Pacifico', cursive;
  background-image: url("patterns1.jpg");
  height:80vh;
  width:100vw;
  background-size: cover;
  background-attachment: fixed;
  color:white;
}
header{
  border-bottom: 6px solid paleturquoise;
}
.container{
  width:95%;
  margin: auto;

}
.nav{
  display: flex;
   justify-content: space-between; /*search box ko right side me lejaega and space dega thodi in btw */
   flex-wrap: wrap;   /*  makes rspnsive when we resize window */
    padding: 25px 0; /*top 25px botton 0px */
}
.nav h2{
  font-size: 2rem;
}
.searchbox{
  position: relative;
  width: 350px;
}
.searchbox input{
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  /* border-radius: 25px; */
  /* outline: none; */
  /* border: 1px solid lightgrey; */
}
input:focus{
  box-shadow:0 0 5px ;
  border: 1px solid blue;
}
.searchbox i{
  color:black;
  position: absolute;
  right:4%;
  top: 25%;
  transition: 1.5s;
}
.searchbox i:hover{
  color:blue;

}
.grid{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.middle{
  justify-content: center;
  position: absolute;
  top:50%;
  left: 30%;
  color:palegoldenrod;
}
.img{
  width: 380px;
  height: 200px;
  margin-top: 15px;
  background-position:50% 50%;
  background-size: cover;
  border-radius: 2px;
}
@media(max-width:600px){
  .img{
    width:100px
  }
  .nav{
    justify-content: center; /*600px (alag alag) screens pr srch bar center pe rahe (screen size specify kr skte hai)*/
  }
  .nav h2{
    padding: 5px 0;
  }
}



